<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title> {{'Shipping Address'| translate }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">{{'First Name'|translate}}</ion-label>
      <ion-input type="text" name="shipping_firstname" [(ngModel)]="shared.orderDetails.delivery_firstname" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Last Name'|translate}}</ion-label>
      <ion-input type="text" name="shipping_lastname" [(ngModel)]="shared.orderDetails.delivery_lastname" required>
      </ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">{{'Address'|translate}}</ion-label>
      <ion-input type="text" name="address" [(ngModel)]="shared.orderDetails.delivery_street_address" required>
      </ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">{{'Country'|translate}}</ion-label>
      <ion-input type="text" name="shipping_country" tappable (click)="selectCountryPage()" readonly
        [(ngModel)]="shared.orderDetails.delivery_country" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'State'|translate}}</ion-label>
      <ion-input type="text" required name="shipping_zone" tappable (click)="selectZonePage()" readonly
        [(ngModel)]="shared.orderDetails.delivery_zone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'City'|translate}}</ion-label>
      <ion-input type="text" name="shipping_city" [(ngModel)]="shared.orderDetails.delivery_city" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Post code'|translate}}</ion-label>
      <ion-input type="text" name="shipping_postcode" [(ngModel)]="shared.orderDetails.delivery_postcode" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Phone'|translate}}</ion-label>
      <ion-input type="text" inputmode="tel" name="Phone" [(ngModel)]="shared.orderDetails.delivery_phone" required>
      </ion-input>
    </ion-item>
    <ion-item *ngIf="shared.orderDetails.guest_status == 1">
      <ion-label position="floating">{{'Email'|translate}}</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="shared.orderDetails.email" required>
      </ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="secondary" (click)="submit()" [disabled]="!loginForm.form.valid">{{'Next'|translate}}
  </ion-button>
</ion-footer>