<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" *ngIf="!config.appNavigationTabs">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'Edit Profile'| translate }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form #userForm="ngForm" (ngSubmit)="updateInfo()">
    <ion-item>
      <ion-label position="floating">{{'First Name'|translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="myAccountData.customers_firstname" name="customers_firstname" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Last Name'|translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="myAccountData.customers_lastname" name="customers_lastname" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Mobile'|translate}}</ion-label>
      <ion-input type="number" inputmode="tel" [(ngModel)]="myAccountData.customer_phone" name="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'Date of Birth'|translate}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" max="2019" name="dob"
        [(ngModel)]="myAccountData.dob"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One" name="customers_gender" [(ngModel)]="myAccountData.customers_gender" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="0">Female</ion-select-option>
        <ion-select-option value="1">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-label position="floating">{{'Current Password'|translate}}</ion-label>
      <ion-input type="password" [(ngModel)]="myAccountData.currentPassword" name="currentPassword"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating">{{'New Password'|translate}}</ion-label>
      <ion-input type="password" [(ngModel)]="myAccountData.password" name="password"></ion-input>
    </ion-item>
    <ion-button expand="full" color="secondary" type="submit" [disabled]="!userForm.form.valid">{{'Update'|translate}}
    </ion-button>
  </form>
</ion-content>